$font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Segoe UI",
  "Arial", "Roboto", "Hiragino Kaku Gothic ProN", YuGothicM, YuGothic, Meiryo,
  sans-serif;
:root {
  --bgColor: #f7f7f7;
  --fontColor: rgb(75, 75, 75);
  --blue: #2e85ff;
  --grayText: #666;
}
html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  line-height: 1.8;
}
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  background-color: var(--bgColor);
  color: var(--fontColor);
  font-family: $font-family;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  cursor: pointer;
}
h2 {
  font-size: 25px;
}
@font-face {
  font-family: YuGothicM;
  font-weight: normal;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"),
    local("YuGothic-Regular"); /* Windows8.1ではMediumがないのでRegularを指定 */
}
@font-face {
  font-family: YuGothicM;
  font-weight: bold;
  src: local("YoGothic-Bold"), local("Yu Gothic");
}
.displayTime {
  font-size: xx-large;
  font-family: "Open Sans", $font-family;
  font-weight: 600;
  line-height: 1.2;
}
.small {
  font-size: 0.5em;
}
.myBtn-circle {
  border: var(--grayText) solid 1px;
  color: var(--fontColor);
  position: relative;
  line-height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.1rem 0.1rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.myBtn-circle:not(.nohover):hover {
  color: var(--blue);
  border-color: var(--blue);
}
.myBtn-basic {
  color: var(--grayText);
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.5;
  }
}
#stop {
  display: none;
}
.modal {
  opacity: 0;
  transform: scale(0.8);
  z-index: -1;
  transform-origin: top center;
  position: fixed;
  margin: 0 auto;
  display: block;
  text-align: start;
  width: 60%;
  max-height: 80vh;
  overflow-y: auto;
  padding: 0.2rem 2rem;
  background-color: var(--bgColor);
  z-index: -1;
  & h2 {
    padding-bottom: 0.3em;
  }
  & .close {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
  }
  transition: opacity 0.2s, transform 0.2s;
  &:not(:target) {
    transition: z-index 0.2s, opacity 0.2s, transform 0.2s;
  }
}
.modal-overlay {
  display: block;
  cursor: default;
  opacity: 0;
  z-index: -2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal:target {
  opacity: 1;
  transform: scale(1);
  z-index: 99999;
  & ~ .modal-overlay {
    opacity: 1;
    z-index: 99998;
  }
}
@media screen and (max-width: 640px) {
  .modal {
    width: 90vw;
  }
}
.info {
  position: absolute;
  top: 10px;
  right: 10px;
  & a {
    margin: 0 0.2em;
    text-decoration: none;
  }
}
//   radio
.radio{
    display: block;
    width: 100%;
    margin-bottom: 1em;
}
input[type=radio]{
    visibility: hidden;
}
label {
    cursor: pointer;
    padding-left: 40px;
    position: relative;
    display: block;
    width: 100%;
    line-height: 1.5;
  }
  
  label::before,
  label::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }
  
  label::before {
    background-color: var(--bgColor);
    border: 1px solid var(--blue);
    height: 20px;
    width: 20px;
    left: 5px;
  }
  
  label::after {
    background-color: var(--blue);
    opacity: 0;
    height: 16px;
    width: 16px;
    left: 8px;
  }
  
  input:checked + label::after {
    opacity: 1;
  }
  body.dark {
    --bgColor: rgb(32, 32, 32);
    --fontColor: rgb(232, 232, 232);
    --grayText: rgb(216, 215, 215);
    --blue: #4793ff;
  }
  body.anime * {
    transition: background-color 0.3s ease-in-out;
  }